.App {
  text-align: center;
  background-color: darkslategray;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ============================================================================= */

.card-text span {
  color: blue;
}

.noborder {
  border: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
}

html {
  background-color: burlywood;
}

#root {
  background-color: burlywood;
}

.card-body-own {
  background: lavender;
  text-align: left;
}

.seriesImg {
  background: whitesmoke;
  border-radius: 7px;
}

.card-footer-bg {
  background-color: lightblue;
  font-family: monospace;
  font-size: large;
}

.borderTopclass {
  border-top: ridge;
}

.borderFullclass {
  border: ridge;
  background: lavender;
}

.detailCard {
  background: papayawhip;
}

.borderCardBody {
  border-left-style: inset;
}

div.col-5 div.noborder.card {
  background: black;
}

.inheritCardBody {
  flex-direction: inherit;
}

p.card-text span {
  color: brown;
  font-weight: bold;
}

.spanclassstar {
  color: maroon !important;
}

.spanclassstarRate {
  color: black !important;
  font-weight: 200 !important;
}

.modaloverview {
  color: midnightblue;
  font-weight: bold;
}

.serieTitle {
  color: antiquewhite;
  font-weight: bold;
}

.resultsCount {
  line-height: 0.5;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.resultsCount span {
  font-size: 14px;
  background: darkslategray;
  color: antiquewhite;
  padding: 0;
  display: inline-block;
  position: absolute;
}

.resultsCount span:before {
  background: black;
  z-index: -1;
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
}

.resultsCount span:after {
  background: black;
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 100000000px;
}
.resultsCount span:before {
  right: 100%;
  margin-right: 15px;
}
.resultsCount span:after {
  left: 100%;
  margin-left: 15px;
}

img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  margin: auto;
  display: block;
  max-width: fit-content;
  max-height: fit-content;
}

@media screen and (max-width: 740px) {
  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .inheritCardBody {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .inheritCardBody {
    flex-direction: column;
  }

  .borderCardBody {
    border-top: ridge;
    border-left-style: none;
  }
}

@media screen and (max-width: 775px) {
  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
